<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufrn.jardim.appjardim" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeuJardimActivity"
            android:label="@string/title_activity_meu_jardim" >
        </activity>
        <activity
            android:name=".MeusAlertasActivity"
            android:label="@string/title_activity_meus_alertas" >
        </activity>
        <activity
            android:name=".MeuCadastroActivity"
            android:label="@string/title_activity_meu_cadastro" >
        </activity>
    </application>

</manifest>
